.App {
  text-align: center;
}

#root nav {
  background-color: #8c30c5;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 5%;
}

#root div {
  margin: 3%;

}

#root div input {
  margin: 0 5%;
  cursor: pointer;

}

